body {
background-color: teal;
}

#box{
	width: 100px;
	height:100px;
	animation: magic 2.5s alternate;
	box-sizing: border-box;
	animation-iteration-count: infinite;
}

@keyframes magic{
0% {background-color:teal;
border: 5px dashed pink;
color: purple;
}
50%{
background-color:yellow;
border-radius: 35%;
transform: translate(950px,150px) rotate3d(5,0,3,-855deg);scale(2, 2.5)
}
100%{background-color:red;
border: 10px dotted purple;	
color: pink;
transform: translate(250px,300px)  rotate3d(2,7,0,765deg);scale(.15, .25);
}   
   
p{
	font-size: 45px;
	font-family: 'Fresca', sans-serif;
font-family: 'Amatic SC', cursive;
text-align: center;
margin: 0 auto;
}
